$main-color: #393939
$black-color: #000

$white-color: #fefefe
$progress-color: #333
$base-color: #fff
$green-color: #39b54a
$link-color: #5BADF0
$gray-section-color: #f2f2f2
$work-head-color: #ddd
$red-color: #d2366d

$box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.2)